<div class="container-fluid">

<!--  <div class="row">-->
<!--    <div class="col-md-2 col-md-offset-5">-->
<!--      <img class="img-circle" alt="100x100" [src]=profilePic-->
<!--           data-holder-rendered="true">-->
<!--    </div>-->
<!--  </div> <br>-->
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
     <div class="row">
    
      <div class="col-md-6 col-md-offset-3" id="profile-div">
          <div class="row list">
              <div class="col-md-6">Id dipendente:</div>
              <div class="col-md-6">{{this.id}}</div>
          </div>
          <div class="row list">
              <div class="col-md-6">Nome:</div>
              <div class="col-md-6">{{employee.firstName}}</div>
          </div>
          <div class="row list">
              <div class="col-md-6">Cognome:</div>
              <div class="col-md-6">{{employee.lastName}}</div>
          </div>
          <div class="row list">
              <div class="col-md-6">Sesso:</div>
              <div class="col-md-6">{{employee.sex}}</div>
          </div>
          <div class="row list">
              <div class="col-md-6">Telefono:</div>
              <div class="col-md-6">
                  <input type="text"
                          id="telefono"
                          ngModel
                          name="telefono"
                          placeholder="{{employee.phoneNumber}}"
                          pattern="[0-9]{10}"
                          required
                          #phone="ngModel">
              </div>
          </div>
          <div class="row list">
              <div class="col-md-6">Email:</div>
              <div class="col-md-6">{{employee.email}}</div>
          </div>
          <div class="row list">
              <div class="col-md-6">Codice Fiscale:</div>
              <div class="col-md-6">{{employee.taxCode}}</div>
          </div>
      </div>
    
  </div>

        <div class="row" id="button-row">
            <button type="submit" class="btn btn-light" [disabled]="!f.valid">Aggiorna</button>
        </div> <br>

        <div class="row" *ngIf="submitted" style="padding:2%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p>Il numero è stato aggiornato in <b>{{ telefono }}</b></p>
            </div>
        </div>
    </form>
</div>
