<router-outlet></router-outlet>

<!--app-auth></app-auth-->

<!--div class="container-fluid">
  <app-header-user (featureSelected)="onNavigate($event)"></app-header-user>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-new-booking *ngIf="loadedFeature === 'newBooking'"></app-new-booking>
      <app-my-bookings *ngIf="loadedFeature === 'myBookings'"></app-my-bookings>
      <app-my-profile *ngIf="loadedFeature === 'myProfile'"></app-my-profile>
    </div>
  </div>
</div-->



<!--div class="container-fluid">
  <app-header-admin (featureSelected)="onNavigate($event)"></app-header-admin>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-new-booking-admin *ngIf="loadedFeature === 'newBooking'"></app-new-booking-admin>
      <app-bookings-admin *ngIf="loadedFeature === 'bookingsHistory'"></app-bookings-admin>
      <app-vehicles-admin *ngIf="loadedFeature === 'vehicles'"></app-vehicles-admin>
      <app-employees-admin *ngIf="loadedFeature === 'employees'"></app-employees-admin>
    </div>
  </div>
</div-->
