<div class="container-fluid">
    <div class="row" *ngIf="!isAdmin()">
        <div class="col-md-3 myColumn"></div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="col-md-4 myColumn">
                <div class="col-md-6 form-group">
                    <label class="active" for="startDate">Data inizio</label>
                    <input class= "form-control" id= "startDate" type="datetime-local" [min]="date" ngModel name="startDate" required #startDate="ngModel">
                    <span class="help-block" *ngIf="!startDate.valid && startDate.touched">Inserisci una data</span>
                </div>
                <div class="col-md-6 form-group">
                    <label class="active" for="endDate">Data fine</label>
                    <input class= "form-control" id= "endDate" type="datetime-local" [min]="f.value.startDate ? f.value.startDate : this.date" ngModel name="endDate" required #endDate="ngModel">
                    <span class="help-block" *ngIf="!endDate.valid && endDate.touched">Inserisci una data</span>
                </div>
            </div>
            <div class="col-md-2 myColumn">
                <button type="submit" class="btn btn-light" [disabled]="!f.valid">Cerca</button>
            </div>
        </form>
            <div class="col-md-3 myColumn"></div>
    </div>
    <div class="row" *ngIf="submitted && !isAdmin() && !error">
        <div class="col-md-2 myColumn"></div>
        <div class="col-md-6 myColumn">
            <hr>
            <p>Auto disponibili per il periodo <b>{{ this.startDate }}</b> - <b>{{ this.endDate }}</b></p>
        </div>
    </div>

    <div class="row" *ngIf="isAdmin()">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="col-md-2 myColumn"></div>
        <div class="col-md-3 myColumn">
          <label class="active" for="email">Email Dipendente</label>
          <input class= "form-control"
                 type="email"
                 ngModel name="email"
                 placeholder="@energee3.com"
                 pattern="[a-zA-Z]*[.][a-zA-Z0-9]*@(energee3.com|ENERGEE3.COM)"
                 required
                 email
                 #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Inserisci una mail valida</span>
        </div>
        <div class="col-md-3 myColumn">
          <div class="col-md-6 form-group myColumn ">
            <label class="active" for="startDate">Data inizio</label>
            <input class= "form-control" type="datetime-local" [min]="date" ngModel name="startDate" required #startDate="ngModel">
            <span class="help-block" *ngIf="!startDate.valid && startDate.touched">Inserisci una data</span>
          </div>
          <div class="col-md-6 form-group myColumn">
            <label class="active" for="endDate">Data fine</label>
            <input class= "form-control" type="datetime-local" [min]="f.value.startDate ? f.value.startDate : this.date" ngModel name="endDate" required #endDate="ngModel">
            <span class="help-block" *ngIf="!endDate.valid && endDate.touched">Inserisci una data</span>
          </div>
        </div>
        <div class="col-md-3 myColumn">
          <button
            type="submit"
            class="btn btn-light"
            [disabled]="!f.valid">Cerca</button>
        </div>
        <div class="col-md-1"></div>
      </form>
    </div>
    <div class="row" *ngIf="submitted && isAdmin() &&!error">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <hr>
        <p>Auto disponibili per il dipendente nel periodo <b>{{ this.startDate }}</b> - <b>{{ this.endDate }}</b></p>
      </div>
    </div>

</div>

<div class="container-fluid">
  <div class="alert alert-danger" *ngIf="error">
    <h1 id="error" *ngIf="error"><b>ERRORE: Impossibile prenotare l'auto</b></h1>
  </div>

  <div class="row" *ngIf="booked">
    <h1 id="success">Veicolo <b>{{vehiclesArray[position].modelId.manufacturerId.name + " " + vehiclesArray[position].modelId.name + " " + vehiclesArray[position].id}}</b> prenotato con successo</h1>
  </div>
  <div class="row myRow" *ngIf="!booked && !error">
    <div class="col-md-4 vehicle" *ngFor="let in of vehiclesArray;let i = index">
      <p id="vehicleName">{{vehiclesArray[i].modelId.manufacturerId.name}} {{vehiclesArray[i].modelId.name}}</p>
      <p>Targa: {{vehiclesArray[i].id}}</p>
      <p>Anno: {{vehiclesArray[i].modelId.yearProd}}</p>
      <p>Alimentazione: {{vehiclesArray[i].fuel}}</p>
      <a (click)="newBooking(i)" id="prenota">Prenota</a>
    </div>
  </div>
</div>
