<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 logo">
            <img src="../../assets/images/E3.png" alt="E3 Logo" class="img-responsive">
        </div>
        <div class="col-md-2 myNavigationBar" id="nome">
                <p>{{!this.isAdmin() ? firstName + ' ' + lastName : "Admin"}}</p>
        </div>
        <div class="col-md-8 myNavigationBar" *ngIf="!isAdmin()">
            <div class="col-md-3">
                <button routerLinkActive="active" routerLink="newBooking">Nuova prenotazione</button>
            </div>
            <div class="col-md-3">
                <button routerLinkActive="active" routerLink="myBookings">Le mie prenotazioni</button>
            </div>
            <div class="col-md-3">
                <button routerLinkActive="active" routerLink="myProfile">Il mio profilo</button>
            </div>
            <div class="col-md-3">
                <button routerLink="/login" (click)="onLogout()">Logout</button>
            </div>
        </div>

        <div class="col-md-8 myNavigationBar" *ngIf="isAdmin()">
          <div class="col-md-2">
            <button routerLinkActive="active" routerLink="newBookingAdmin">Nuova prenotazione</button>
          </div>
          <div class="col-md-2">
            <button routerLinkActive="active" routerLink="bookings">Prenotazioni</button>
          </div>
          <div class="col-md-2">
            <button routerLinkActive="active" routerLink="vehicles">Veicoli</button>
          </div>
          <div class="col-md-2">
            <button routerLinkActive="active" routerLink="employees">Dipendenti</button>
          </div>
          <div class="col-md-2">
            <button routerLink="/login" (click)="onLogout()">Logout</button>
          </div>
        </div>

    </div>
</div>
